html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #1e1e1e;
  color: white;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}
